* {
   margin: 0;
   border: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   align-items: center;
}

/* Section 1 */
.section-1 {
   margin-top: 1px;
   width: 1440px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 8px;
}

.section-1 h1 {
   width: 1215px;
   font-family: "Lora", serif;
   font-weight: 400;
   font-size: 40px;
   line-height: 54px;
   text-align: center;
   color: #2C2A29;
}

.section-1 .images {
   width: 100%;
   height: 700px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 32px;
}

.section-1 .images>img {
   width: 379px;
   height: 617.89px;
   border-radius: 16px;
   overflow: hidden;
}

.section-1 p {
   display: flex;
   flex-direction: column;
   gap: 16px;
   width: 810px;
   font-family: "Lato", sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   text-align: center;
   color: #2C2A29;
   word-spacing: 0.2px;
}

/* Section 2 */
.section-2 {
   width: 1376px;
   margin-top: 80px;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.section-2 .hero {
   width: 100%;
   text-align: center;
   display: flex;
   gap: 8px;
}

.section-2 .hero img {
   width: 700px;
   height: 800px;
   border-radius: 24px;
}

.section-2 .hero .content {
   width: 700px;
   height: 800px;
   border-radius: 24px;
   background-color: #F4F0EA;
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
   align-items: center;
}

.section-2 .content .content-container {
   width: 587px;
   display: flex;
   flex-direction: column;
   gap: 24px;
   text-align: left;
}

.section-2 .content .content-container h1 {
   width: 100%;
   line-height: 74px;
   font-family: "Lora", serif;
   font-weight: 400;
   font-size: 64px;
}

.section-2 .content .content-container>div {
   font-family: "Lato", serif;
   font-weight: 400;
   width: 100%;
   color: #1F1F1F;
   display: flex;
   flex-direction: column;
   gap: 8px;
}

.section-2 .content .content-container>div>h2 {
   font-size: 20px;
   line-height: 30px;
}

.section-2 .content .content-container>div>p {
   font-size: 14px;
   line-height: 22px;
   word-spacing: 1px;
   display: flex;
   flex-direction: column;
   gap: 16px;
   word-spacing: 0.5px;
}

/* Custom */
.pb-48 {
   padding-bottom: 48px !important;
}

.pb-70 {
   padding-bottom: 70px !important;
}

.gap-40{
   gap: 40px !important;
}